{{template "base.html" .}}

{{define "content"}}
<p><a href="/class/add" class="btn btn-primary">添加课程</a></p>
<table class="table table-bordered">
    <tr>
        <th>序号</th>
        <th>名称</th>
        <th>人数</th>
        <th>导员</th>
        <th>删除</th>
        <th>编辑</th>
    </tr>
    {{range $index,$class:= .classes }}
    <tr>
        <td>{{Add $index 1}}</td>
        <td>{{$class.Name}}</td>
        <td>{{$class.Num}}</td>
        <td>{{$class.Tutor.Name}}</td>
        <td><a href="/class/edit/{{$class.ID}}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a href="/class/delete/{{$class.ID}}"><span class="glyphicon glyphicon-trash" ></span></a></td>
    </tr>
    {{end}}
</table>
{{end}}