<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">学生管理</h3>
    </div>
    <div class="panel-body">
        <a href="/student/">学生管理</a>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">班级管理</h3>
    </div>
    <div class="panel-body">
        <a href="/class/">班级管理</a>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">课程管理</h3>
    </div>
    <div class="panel-body">
        <a href="/course">课程管理</a>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">老师管理</h3>
    </div>
    <div class="panel-body">
        <a href="/teacher">老师管理</a>
    </div>
</div>