<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Hi，欢迎您！</h3>
    </div>

    <div class="panel-body">
        <p><a href="/"><span class="glyphicon glyphicon-grain"></span>&nbsp;首页</a></p>
        <p><a href="/student/{{.loginUser.Sno}}"><span class="glyphicon glyphicon-user"></span>&nbsp;学生详情</a></p>
        <p><a href="/student/{{.loginUser.Sno}}/selectCourse/"><span class="glyphicon glyphicon-calendar"></span>&nbsp;选课系统</a>
        </p>
    </div>
</div>